@font-face {
    font-family: Noto-Sans;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Noto-Sans-Bold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Noto-Sans-Extra-Bold;
    src: url(../fonts/NotoSans-ExtraBold.ttf);
}

@font-face {
    font-family: Germania;
    src: url(../fonts/GermaniaOne-Regular.ttf);
}

@font-face {
    font-family: Montserat-Alternate;
    src: url(../fonts/MontserratAlternates-Regular.ttf);
}

:root {
    --black-color: #000000;
    --blue-color: blue;
    --red-color: red;
    --white-color: #ffffff;
    --grey-color: grey;
    --background-light: #E0E0E0;
    --background-dark: #c3d6e5;
    --background-button-dark: #1e3848;
    --background-button-light: #476479;
    --dark-color-transparent: rgba(14,14,14,0.5);
    --font-logo: Germania;
    --font-attribution: Montserat-Alternate;
    --font-form: Noto-Sans;
    --font-form-bold: Noto-Sans-Bold;
    --font-form-extra-bold: Noto-Sans-Extra-Bold;
    font-size: 16px;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

p, pre {
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 15px;
    padding-bottom: 3rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.logo-section {
    width: 450px;
    height: 800px;
    background-image: url(../images/toronto-cn.jpeg);
    background-repeat: no-repeat;
    background-size: 450px 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo-frame {
    height: 180px;
    width: 100%;
    margin-top: 310px;
    background-color: var(--dark-color-transparent);

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-frame img {
    height: 160px;
    width: auto;
}

.logo-frame p {
    font-family: var(--font-logo);
    font-size: 6rem;
    color: var(--white-color);
}

.attribution-text {
    margin-bottom: 10px;
    color: var(--white-color);
    font-family: var(--font-attribution);
}

.attribution-text a,
.attribution-text a:visited  {
    color: var(--white-color);
    font-family: var(--font-attribution);
}

.sign-up-section {
    width: clamp(450px, 50vw, 600px);
    height: 800px;

    background-color: var(--background-dark);

    font-family: var(--font-form);

    display: flex;
    flex-direction: column;
}

.sign-up-text {
    box-sizing: border-box;
    margin: 25px;
    font-size: 1rem;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-inputs {
    background-color: var(--white-color);
    box-shadow: 0px 5px 5px var(--grey-color);

    /* flex-grow: 1; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-inputs form>p {
    font-size: 1.25rem;
    margin: 25px;
}

.sign-up-inputs .inputs {
    margin: 25px 25px 25px 25px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 25px;
}

.sign-up-inputs .inputs>div {
    width: 250px;
    font-size: 0.75rem;
    
    display: flex;
    flex-direction: column;
}

.sign-up-inputs .inputs div label {
    font-family: var(--font-form-bold);
}

.sign-up-inputs .inputs div label+div {
    display: flex;
}

.sign-up-inputs .inputs div div+p {
    margin-top: 5px;
    color: var(--white-color);
}

.sign-up-inputs .inputs div input{
    box-sizing: border-box;
    width: 225px;
    height: 1.5rem;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: var(--grey-color);
}

.sign-up-inputs .inputs div input:focus{
    outline: 0px;
    border-width: 1px;
    border-color: var(--blue-color);
    box-shadow: 5px 5px 5px var(--grey-color);
}

div.check {
    width: 25px;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.check img {
    height: 1rem;
    width: auto;
}

span.error {
    color: var(--red-color);
    font-family: var(--font-form-bold);
    font-size: 0.65rem;
}

#required-field-text {
    font-size: 0.75rem;
    margin: 0;
    font-style: italic;
    width: 250px;

}

.sign-up-submit {
    box-sizing: border-box;
    margin: 25px;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sign-up-submit button {
    font-family: var(--font-attribution);
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--white-color);

    background-color: var(--background-button-light);

    padding: 0.5rem 2rem;

    border-style: none;
    border-radius: 5px;
}

.sign-up-submit button:hover {
    background-color: var(--background-button-dark);
}

.sign-up-submit p {
    font-family: var(--font-form);
}

.sign-up-submit p a {
    text-decoration: none;
    font-family: var(--font-form-extra-bold);
    color: var(--background-button-light);
}

.sign-up-submit p a:hover {
    text-decoration: none;
    font-family: var(--font-form-extra-bold);
    color: var(--background-button-dark);
}


.footer {
    font-family: var(--font-attribution);
    margin-top: 3rem;
    height: 3rem;
    width: 100%;
    background-color: var(--background-light);

    position: fixed;
    bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {
    display: flex;
    align-items: center;
}

.footer a img {
    height: 1rem;
    width: auto;
}